body{
	text-align: center;
}

table{
	margin: 0 auto;
	text-align: center;
	border-collapse: collapse;
}

td{
	height: 25px;
	width: 100px;
}

.tableContainer{
	font-size: 0;
 }

.tableSection{
	border: 1px solid;
	height: 50px;
	width: 50px;
	display: inline-block;
}

.assassin{
	background-color: black;
}

.blue{
	background-color: cornflowerblue;
}

.red{
	background-color: red;
}

.bystander{
	background-color: gray;
}

.bold{
	font-weight:bold;
}